<!DOCTYPE html> 
<html lang="en"
	<head> 
	    	<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Maria Mysliwiec</title> 
		<link rel="stylesheet" href="static/style.css" />
		<link rel="icon" href="https://img.icons8.com/cotton/64/000000/musical-notes.png">
	</head>  
	<body> 		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<div class="icon-bar">
		  <a href="https://www.linkedin.com/in/mariamysl/" class="linkedin"><i class="fa fa-linkedin"></i></a>
		  <a href="https://github.com/marmysl" class="github"><i class="fa fa-github"></i></a>
		  <a href="https://www.goodreads.com/user/show/156004166-maria" class="goodreads"><i class="fa fa-book"></i></a>
		</div>

		<button onclick="goToTop()" id="topbtn">^</button>

		<div class="topnav">
			<a href="#top">maria mysliwiec</a>
  			<a href="#about">about me</a>
  			<a href="resume.html">resume</a>
 			<a href="mailto:mariadmysl@gmail.com">contact</a>
		</div>

		<div class="header">
				<!-- Particles.js div -->
			    <div id="particles-js">
			    	<div class="heading">
					<h6 class="typewriter">Hi! My name is Maria</h6>
				</div>
			    </div>
		</div>

		<div class="body-container">
			<div id="about">
				<h1>About Me</h1>
				<p> I am a University of Pittsburgh alum currently working @ NetApp as a Hardware Engineer.</p>
				<p> I love working with hardware and seeing software work in a larger context on devices/platforms that are accessible to the public. </p>
				<p> I have experience seeing products through to production, with responsibilities including testbench development for custom hardware, firmware, and associated components (for example: the BBU!).</p>
				<p> <br></p>	
			</div>

		</div>
	</body> 
  
</html> 